#navigation h2{
    color: #fff;
    font-size: 12px;
}

.cardOlimps{
    margin-right: 25px;
}
.inative{
    cursor:not-allowed;
    background-color: rgb(255, 215, 215);
}
.actveOlimps{
    background-color: rgb(228, 253, 224);
}
.actveOlimps:hover{
    background-color: rgb(200, 253, 192);
    transform: scale(1.02);
}
.inativeLive{
    cursor: not-allowed;
}