#editor-container {
  width: 100%; /* Ajuste a altura conforme necessário */
}
#tituloCorpo {
  width: 100%;
}

body {
  font-family: sans-serif;
}

/**Cores**/
#tabelaQuestoes tr:nth-child(odd) {
  background-color: #eee;
}

/**Cor quando passar por cima**/
#tabelaQuestoes tr:hover td {
  background-color: #feffb7;
  cursor: pointer;
}

/**Cor quando selecionado**/
#tabelaQuestoes tr.selecionado td {
  background-color: #aff7ff;
}

#visualizarDados {
  background-color: white;
  border: 1px solid black;
  width: 50%;
  margin: 10px auto;
  padding: 10px 0;
  display: block;
  color: black;
}

.imagemCorpoQuest{
    background-color: red;
    width: 100%;
    height: 100%;
}
#imagemCorpo{
    width: 100%;
    width: 100%;
}